
.login_container{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 56rem;
  height: 28rem;
  width: 100%;
  margin: auto;
}

.img_wrapper {
  flex: 1 1 50%;
}

.img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.form_wrapper{
  width: 100%;
  height: 100%;
  flex: 1 1 50%;
  background-color: black;
}

h2 {
  margin: 2.2rem;
  color: white;
  text-align: center;
}

.form_group {
  text-align: center;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  }


input {
  width: 88%;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid #ABC79F;
  background: transparent;
  outline: none;
  color: white;
}


input.invalid {
  border-color: #f44336;
}

.error,.message {
  min-height: 2rem;
  color: red;
  font-size: 12px;
  margin-top: 6px;
  text-align: right;
  padding-right: 6%;
}

.forgot_password_btn{
  width: 60%;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  border: none;
  cursor: pointer;
  background-color: #75A95F;
  padding: 0.7rem;
  align-self: center;
  font-size: 18px;
  font-weight: 600;
}

button:disabled {
  background-color: #ABC79F;
  color: rgb(35, 34, 34);
  cursor: not-allowed;
}

.message {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #e8f5e9;
  border-radius: 4px;
}

.links {
  font-size: 12px;
  justify-content: center;

}

.links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.links a:hover {
 color: #75A95F;
}


