<div class="login_container">
  <div class="wrapper" dir="rtl">
    <div class="img_wrapper">
    <img src="../../../assets/images/login3.jpeg" alt="">
  </div>
  <div class="form_wrapper">
    <h2>فراموشی رمز عبور</h2>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email"></label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="ایمیل"
        [class.invalid]="email?.touched && email?.invalid"
      />
      <div class="error">
      @if (email?.touched && email?.invalid) {
          @if (email?.errors?.['required']) {
            <div>ایمیل اجباری است.</div>
          }
          @if (email?.errors?.['email']) {
            <div>ایمیل نامعتبر است.</div>
          }
        }
        </div>
    </div>
    <button class="forgot_password_btn" type="submit" [disabled]="forgotForm.invalid || isLoading()">
      {{ isLoading() ? 'در حال ارسال...' : 'ارسال لینک' }}
    </button>
    <div class="error">
  @if (message()) {
      <div class="message">{{ message() }}</div>
    }
    </div>
  
    <div class="links">
      <a routerLink="/login">ورود</a>
    </div>
  </form>
  </div>
</div>
</div>