.rescuer-map {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

h2{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

#map {
  height: 600px !important;
  width: 100% !important;
  position: relative !important;
  border: 1px solid #75A95F;
}

.custom-marker {
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.legend {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #75A95F;
  border-radius: 5px;
  backdrop-filter: blur(8px);
}

.legend div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 14px;
}

.color-box {
  width: 15px;
  height: 15px;
  margin:0 10px 0 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}